{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Symfolabs !{% endblock %}

{% block body %}
    <section class="m-2 d-flex align-items-center justify-content-center">
        <h1 class="fs-3">Symfolabs, le meilleur des deals !</h1>
    </section>
{% endblock %}
