{% extends 'base.html.twig' %}

{% block title %}Edit GoodPlan{% endblock %}

{% block body %}
    <h1>Edit GoodPlan</h1>

    {{ include('good_plan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('good_plan_index') }}">back to list</a>

    {{ include('good_plan/_delete_form.html.twig') }}
{% endblock %}
