{% extends 'base.html.twig' %}

{% block title %}GoodPlan index{% endblock %}

{% block body %}
    <h1>GoodPlan index</h1>

    <div class="input-group">
        <input id="goodplan_search_ipt" type="text" class="form-control" placeholder="Rechercher un bon plan" aria-label="Rechercher un bon plan">
        <button class="btn btn-outline-secondary" type="button" onclick="onSearch()">Rechercher</button>
    </div>

    <div id="goodplan_list">
        {{ include('good_plan/_list.html.twig') }}
    </div>

    <a href="{{ path('good_plan_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        const onSearch = () => {
            const searchInput = document.getElementById('goodplan_search_ipt');
            if (!searchInput)
                return;

            const searchString = searchInput.value;
            fetch(`{{ path('good_plan_ajax') }}?searchString=${searchString}`, {
                method: 'GET'
            }).then(response => {
                response.text().then(html => {
                    document.getElementById('goodplan_list').innerHTML = html;
                })
            })
        }
    </script>

{% endblock %}
