{% extends 'base.html.twig' %}

{% block title %}Promotion index{% endblock %}

{% block body %}
    <h1>Promotion index</h1>

    <div class="input-group">
        <input id="promo_search_ipt" type="text" class="form-control" placeholder="Rechercher une promotion" aria-label="Rechercher une promotion">
        <button class="btn btn-outline-secondary" type="button" onclick="onSearch()">Rechercher</button>
    </div>

    <div id="promo_list">
        {{ include('promotion/_list.html.twig') }}
    </div>

    <a href="{{ path('promotion_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        const onSearch = () => {
            const searchInput = document.getElementById('promo_search_ipt');
            if (!searchInput)
                return;

            const searchString = searchInput.value;
            fetch(`{{ path('promotion_search_ajax') }}?searchString=${searchString}`, {
                method: 'GET'
            }).then(response => {
                response.text().then(html => {
                    document.getElementById('promo_list').innerHTML = html;
                })
            })
        }
    </script>

{% endblock %}